<!DOCTYPE html>
<html>
<body>
	<div th:fragment="topbar" class="row border-bottom white-bg">
		<nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">
			<a th:href="@{/}" class="navbar-brand" style="background: white; padding: 10px 25px !important;">
				<img class="img-fluid" src="/img/os2faktor.png" style="display: inline; max-width: 30vw; max-height: 38px;">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-reorder"></i>
			</button>

			<div class="navbar-collapse collapse" id="navbar">
				<ul sec:authorize="!isAuthenticated()" class="nav navbar-top-links navbar-right">
					<li>
						<a th:href="@{/desktop/selfservice}">
							<i class="fa fa-sign-in"></i> Log ind
						</a>
					</li>
				</ul>

				<ul sec:authorize="isAuthenticated()" class="nav navbar-top-links navbar-right">
					<li>
						<th:block th:if="${session.SESSION_REDIRECT_URL == null}">
							<form th:action="@{/logout}" id="logout_form" method="post"></form>
							<a href="#" onclick="$('#logout_form').submit();">
								<em class="fa fa-sign-out"></em>
								<span>Log ud</span>
							</a>
						</th:block>

						<a th:if="${session.SESSION_REDIRECT_URL != null}" th:href="${session.SESSION_REDIRECT_URL}">
							<i class="fa fa-arrow-left"></i> Tilbage
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>