<?xml version='1.0' encoding='utf-8'?>
<widget id="dk.digitalidentity.os2faktor" version="2.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" 
xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OS2faktor</name>
    <description>
        OS2faktor er en kommunal 2-faktor login løsning, der anvende af kommunale medarbejdere.
    </description>
    <author email="bsg@digital-identity.dk" href="http://digital-identity.dk/">
        Digital Identity
    </author>
    <content src="index.html" />
    <allow-navigation href="*://*.os2faktor.dk/*" />
    <icon height="120" src="res/icon.png" width="120" />
    <access origin="*://*.os2faktor.dk/*" />
    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <resource-file src="google-services.json" target="app/google-services.json" />
        <resource-file src="res/drawable-anydpi-v24/notification_icons.xml" target="app/src/main/res/drawable-anydpi-v24/notification_icons.xml" />
        <resource-file src="res/drawable-hdpi/notification_icons.png" target="app/src/main/res/drawable-hdpi/notification_icons.png" />
        <resource-file src="res/drawable-mdpi/notification_icons.png" target="app/src/main/res/drawable-mdpi/notification_icons.png" />
        <resource-file src="res/drawable-xhdpi/notification_icons.png" target="app/src/main/res/drawable-xhdpi/notification_icons.png" />
        <resource-file src="res/drawable-xxhdpi/notification_icons.png" target="app/src/main/res/drawable-xxhdpi/notification_icons.png" />
        <icon background="res/drawable/icon_background.xml" density="mdpi" foreground="res/drawable/icon_foreground.xml" src="res/mipmap-mdpi/icon.webp" />
        <icon background="res/drawable/icon_background.xml" density="hdpi" foreground="res/drawable/icon_foreground.xml" src="res/mipmap-hdpi/icon.webp" />
        <icon background="res/drawable/icon_background.xml" density="xhdpi" foreground="res/drawable/icon_foreground.xml" src="res/mipmap-xhdpi/icon.webp" />
        <icon background="res/drawable/icon_background.xml" density="xxhdpi" foreground="res/drawable/icon_foreground.xml" src="res/mipmap-xxhdpi/icon.webp" />
        <icon background="res/drawable/icon_background.xml" density="xxxhdpi" foreground="res/drawable/icon_foreground.xml" src="res/mipmap-xxxhdpi/icon.webp" />
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
            <meta-data android:name="firebase_crash_collection_enabled" android:value="false" />
            <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/notification_icons" />
        </config-file>
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/os2faktor_logo_round.xml" />
        <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />
        <preference name="GradlePluginKotlinEnabled" value="true" />
        <preference name="GradlePluginKotlinVersion" value="1.7.21" />
    </platform>
    <platform name="ios">
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <plugin source="git" spec="https://github.com/apache/cordova-plugin-statusbar.git" />
        <splash src="www/splash/ios/Default@2x~universal~anyany.png" />
        <icon height="57" platform="ios" src="res/icons/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="res/icons/ios/icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="res/icons/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="res/icons/ios/icon-40@2x.png" width="80" />
        <icon height="50" platform="ios" src="res/icons/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="res/icons/ios/icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="res/icons/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="res/icons/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="res/icons/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="res/icons/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="res/icons/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="res/icons/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="res/icons/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="res/icons/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="res/icons/ios/icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="res/icons/ios/icon-small@3x.png" width="87" />
        <icon height="167" platform="ios" src="res/icons/ios/icon-167.png" width="167" />
        <icon height="1024" platform="ios" src="res/icons/ios/icon-1024.png" width="1024" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="^5.0.0" />
    <plugin name="cordova-sqlite-evcore-extbuild-free" spec="^0.9.7" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="cordova-plugin-fingerprint-aio" spec="^4.0.2" />
    <plugin name="@havesource/cordova-plugin-push" spec="^4.0.0" />
</widget>
