<?xml version='1.0' encoding='utf-8'?>
<widget id="dk.digitalidentity.os2faktor" version="1.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OS2faktor</name>
    <description>
        OS2faktor er en kommunal 2-faktor login løsning, der anvende af kommunale medarbejdere.
    </description>
    <author email="bsg@digital-identity.dk" href="http://digital-identity.dk/">
        Digital Identity
    </author>
    <content src="index.html" />
    <allow-navigation href="*://*.os2faktor.dk/*" />
    <allow-navigation href="*://192.168.1.112:9121/*" />
    <icon height="120" src="res/icon.png" width="120" />
    <access origin="*://*.os2faktor.dk/*" />
    <access origin="*://192.168.1.112:9121/*" />
    <access origin="*://192.168.1.112:9088/*" />
    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
        <icon density="ldpi" src="res/icons/android/ldpi.png" />
        <icon density="mdpi" src="res/icons/android/mdpi.png" />
        <icon density="hdpi" src="res/icons/android/hdpi.png" />
        <icon density="xhdpi" src="res/icons/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icons/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icons/android/xxxhdpi.png" />
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
            <meta-data android:name="firebase_crash_collection_enabled" android:value="false" />
        </config-file>
        <preference name="android-targetSdkVersion" value="29" />
    </platform>
    <platform name="ios">
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <plugin source="git" spec="https://github.com/apache/cordova-plugin-statusbar.git" />
        <splash src="www/splash/ios/Default@2x~universal~anyany.png" />
        <icon height="57" platform="ios" src="res/icons/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="res/icons/ios/icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="res/icons/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="res/icons/ios/icon-40@2x.png" width="80" />
        <icon height="50" platform="ios" src="res/icons/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="res/icons/ios/icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="res/icons/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="res/icons/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="res/icons/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="res/icons/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="res/icons/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="res/icons/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="res/icons/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="res/icons/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="res/icons/ios/icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="res/icons/ios/icon-small@3x.png" width="87" />
        <icon height="167" platform="ios" src="res/icons/ios/icon-167.png" width="167" />
        <icon height="1024" platform="ios" src="res/icons/ios/icon-1024.png" width="1024" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="phonegap-version" value="cli-8.1.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-sqlite-evcore-extbuild-free" spec="^0.9.7" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="phonegap-plugin-push" spec="^2.2.3" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <engine name="android" spec="^9.0.0" />
</widget>
