<!doctype html>
<html lang="da-DK">
<head>
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta charset="utf-8" />
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<title th:text="#{html.yubikey.title}"/>

    <link rel="stylesheet" th:href="@{/desktop/lib/fontawesome/css/all.min.css}" />
	<link rel="stylesheet" th:href="@{/desktop/lib/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/desktop/css/app.css}" />
</head>
<body>
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
		<h5 class="my-0 mr-md-auto font-weight-normal">
			<img class="img-fluid" th:src="@{/img/os2faktor.png}" style="display: inline; max-width: 30vw; max-height: 40px;" />
		</h5>

		<nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-dark" th:href="@{/ui/desktop/selfservice}">&lt; Selvbetjening</a>
			<a class="p-2 text-dark" th:href="@{/ui/desktop/logoff}">Log af</a>
		</nav>
	</div>

	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
		<form id="registerForm" method="post" th:object="${form}" th:action="@{/ui/yubikey/register}">
			<h4 th:text="#{html.yubikey.title}" />
			<p>Du skal nu godkende at browseren må anvende din YubiKey. Hvis der ikke vises en browser-dialog, der spørger om lov til at tilgå
			din YubiKey, kan det skyldes at din browser ikke understøtter YubiKeys, eller at browseren forbyder adgangen til hardwaren.</p>
			
			<p>Hvis der ikke kommer en browser-dialog frem, skal du kontakte din it-afdeling for yderligere hjælp.</p>

			<input type="hidden" th:field="*{id}" />
			<input id="yubikeyField" type="hidden" th:field="*{response}" />
			
			<br/>
			
			<center style="margin-left: 10%; margin-right: 10%;">
				<div class="container">
					<div class="row">
						<div class="offset-sm-3 col-sm-6">
							<a style="text-decoration: none;" th:href="@{/ui/desktop/selfservice}"><button class="btn btn-lg btn-primary btn-block" type="button" th:text="#{html.navigate.back}" /></a>
						</div>
					</div>
				</div>
			</center>
		</form>
	</div>

	<script type="text/javascript" th:src="@{/libs/jquery/js/jquery-3.3.1.min.js}"></script>

	<script th:inline="javascript">
	/*<![CDATA[*/

	/*[+
		var username = [[${name}]];
		var challengeEncoded = [[${challenge}]];
		var uidEncoded = [[${uid}]];
	+]*/
	
	function strToBin(str) {
		return Uint8Array.from(atob(str), c => c.charCodeAt(0));
	}

	function binToStr(bin) {
		return btoa(new Uint8Array(bin).reduce((s, byte) => s + String.fromCharCode(byte), ''));
	}
	
	function register() {
		var chal = strToBin(challengeEncoded).buffer;
		var uid = strToBin(uidEncoded).buffer;
 
		navigator.credentials.create({
			publicKey: {
				challenge: chal,
				rp: {
					name: "OS2faktor"
				},
				user: {
					id: uid,
					name: username,
					displayName: username
				},
				pubKeyCredParams: [{ // TODO: are these values sane?
						type: "public-key",
						alg: -7 // "ES256" as registered in the IANA COSE Algorithms registry
					}, {
						type: "public-key",
						alg: -257 // Value registered by this specification for "RS256"
					}
				],
				excludeCredentials: [],
				attestation: "direct"
			}
		}).then(function(attestation) {
			console.log("Registered");
			console.log(attestation);

			var payloadObject = {
				id:                 binToStr(attestation.rawId),
				attestationObject:  binToStr(attestation.response.attestationObject),
				clientDataJson:     binToStr(attestation.response.clientDataJSON)
			};

			var payload = JSON.stringify(payloadObject);
			$("#yubikeyField").val(payload);
			$("#registerForm").submit();
		}).catch(function(err) {
			console.log("registration error");
			console.log(err);
			console.log(err.name);
		});
	}
	
	$(document).ready(function() {
		register();
	});

	/*]]>*/
	</script>
</body>
</html>
