<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div th:class="'col-lg-' + ${session.SESSION_REDIRECT_URL != NULL ? '12' : '9'}">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-mobile"></em> &nbsp; Tilknyt authenticator</span></h5>
							</div>

							<div class="ibox-content">
								<form method="post" th:object="${form}" th:action="@{/authenticator}">
									<p>
										Angiv et navn på din Authenticator, så du kan genkende den når du skal vælge OS2faktor enhed
										på login tidspunktet. Navnet anvendes alene til præsentation, så du nemt kan genkende din enhed.
									</p>
						
									<br/>
						
									<div class="form-group">
										<strong th:text="#{html.registration.name}"></strong>
										<input class="form-control" th:field="*{name}" required="required" minlength="3" maxlength="128" oninvalid="this.setCustomValidity('Angiv et navn på din enhed')" oninput="this.setCustomValidity('')" autofocus="autofocus" />
										<p th:if="${nameError}" style="color:red;">Navnet skal være mellem 3 og 128 tegn</p>
									</div>
								
									<br/>
									
									<div class="row">
										<div class="col-sm">
											<button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{html.registration.submit}"></button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<th:block th:if="${session.SESSION_REDIRECT_URL == null}">
						<div th:replace="fragments/rightbar :: rightbar"></div>
					</th:block>
				</div>
			</div>

			<div th:replace="fragments/footer :: footer"></div>
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts"></div>

	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		+]*/
		
		/*]]>*/
	</script>
</body>
</html>
